.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background-color: #f1f3f5;
}

.description {
  font-size: 1rem;
  color: #666;
  text-align: center;
  margin-bottom: 1rem;
}

.list {
  list-style: disc;
  padding-left: 1.5rem;
  text-align: left;
  margin-bottom: 1rem;
}

.button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;
}

.button:hover {
  background-color: #0056b3;
}
