.card {
  padding: 2em;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 2rem auto;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}
